
<h4 class="flow-text"><span><img class="dog-logo" src="/images/bulldog-favicon.png" alt="bulldog waiting to walk"></span>AM Shift</h4>
<table class="striped z-depth-2">
    <thead>
        <tr>
            <th>Doggy Name</th>
            <th>AM Potty Break</th>
            <th>AM Walk</th>
            <th>Doggy Demeanor</th>
            <th>Kennel</th>
        </tr>
    </thead>
    <tbody>
        {{#each canine}}
        {{>dog-info-am loggedIn=../loggedIn}}
        {{/each}}

    </tbody>
    </tr>
    </tbody>
</table>

