<main class="container">
    <h3 class="flow-text speech-bubble">Thank you for helping our friends get their daily potty break and walk! 🐶</h3>
    <br>

    <div class="row s2">
        <p>Please select difficulty based on your experience level:</p>
        <form class="radio-form" id="radio-form" action="#">
            <div class="col s3">
                <label>
                    <input type="radio" name="filter-demeaner" value="1" />
                    <span>Easy</span>
                </label>
            </div>
            <div class="col s3">
                <label>
                    <input type="radio" name="filter-demeaner" value="2" />
                    <span>Moderate</span>
                </label>
            </div>
            <div class="col s3">
                <label>
                    <input type="radio" name="filter-demeaner" value="3" />
                    <span>Difficult</span>
                </label>
            </div>
            <div class="col s3">
                <label>
                    <input type="radio" name="filter-demeaner" value="4" />
                    <span>Select All</span>
                </label>
            </div>
            <div class="col">
                <label>
                    <span><button class="btn">Show Doggies</button></span>
                </label>
            </div>
        </form>
    </div>

    <div class="row s2">
        <div class="col s12 center">

            <!-- Dropdown Trigger -->

            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Select an option to filter doggies
                ⬇</a>

            <!-- Dropdown Structure -->

            <ul id='dropdown1' class='dropdown-content'>
                <li id="need-walk"><a href="#!">See dogs that need walks</a></li>
                <li id="need-potty"><a href="#!">See dogs that need a potty break</a></li>
                <li class="divider" tabindex="-1"></li>
                <li id="have-walked"><a href="#!">See dogs who have walked</a></li>
                <li id="have-potty"><a href="#!">See dogs who have gone potty</a></li>
                <li class="divider" tabindex="-1"></li>
                <li id="all-happy"><a href="#!">See all happy tails</a></li>
                <li id="all-sad"><a href="#!">See all sad tails</a></li>
            </ul>
        </div>
    </div>

    <div class="row s8">

        {{#if (shift_change)}}

        {{> am-table}}

        {{else}}

        {{> pm-table}}

        {{/if}}

    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{else}}
    <script src="/javascript/login.js"></script>
    <script src="/javascript/signup.js"></script>
    {{/if}}
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="/javascript/dashboard.js"></script>