<h3 class="flow-text">Thank you for helping our friends get their daily potty break and walk! 🐶</h3>
<br>

<div class="row s2">
    <p>Please select difficulty based on your experience level:</p>
    <form class="inline" action="#">
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>Easy</span>
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>Moderate</span>
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>Difficult</span>
            </label>
        </div>
        <div class="col s3">
            <label>
                <input type="checkbox" class="filled-in" />
                <span>Select All</span>
            </label>
        </div>
    </form>

</div>

<div class="row s2">
    <div class="col s12 center">
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Select an option to filter doggies
            ⬇</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">See dogs that need walks</a></li>
            <li><a href="#!">See dogs that need a potty break</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!">See dogs who have walked</a></li>
            <li><a href="#!">See dogs who have gone potty</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!">See all happy tails</a></li>
            <li><a href="#!">See all sad tails</a></li>
        </ul>
    </div>
</div>

<div class="row s8">

    {{#if (shift_change)}}

    {{> am-table}}

    {{else}}

    {{> pm-table}}

    {{/if}}

</div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{else}}
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>
{{/if}}

<script src="/javascript/dashboard.js"></script>