<main class="container">
    <h3 class="flow-text speech-bubble">Thank you for helping our friends get their daily potty break and walk! 🐶</h3>

    <div class="row s1">
        <p class="align-center">Please select the difficulty level based on your experience, then click on the "Show Doggies" button:</p>
        <!-- Setup radio buttons for the user to choose the level of difficulty -->
        <form class="radio-form" id="radio-form" action="#">
            <div class="col s3">
                <label>
                    <input type="radio" name="filter-demeaner" value="1" />
                    <span>Easy</span>
                </label>
            </div>
            <div class="col s3">
                <label>
                    <input type="radio" name="filter-demeaner" value="2" />
                    <span>Moderate</span>
                </label>
            </div>
            <div class="col s3">
                <label>
                    <input type="radio" name="filter-demeaner" value="3" />
                    <span>Difficult</span>
                </label>
            </div>
            <div class="col s3">
                <label>
                    <input type="radio" name="filter-demeaner" value="4" />
                    <span>Select All</span>
                </label>
            </div>
        </form>
    </div>

    <!-- Button to execute choice from the radio buttons -->
    <div class="row s1">
        <div class="col s4"></div>
        <div class="col s4 center-align">
            <label>
                <span><button class="btn">Show Doggies</button></span>
            </label>
        </div>
        <div class="col s4"></div>
    </div>

    <br>
    <br>
    
    <div class="row s2">
        <div class="col s12 center">
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Select an option to filter
                doggies
                ⬇</a>

            <!-- Dropdown Structure -->

            <!-- If AM shift-->
            {{#if (shift_change)}}
            <ul id='dropdown1' class='dropdown-content'>
                <li id="need-walk-am"><a href="#!">See dogs that need walks</a></li>
                <li id="need-potty-am"><a href="#!">See dogs that need a potty break</a></li>
                <li class="divider" tabindex="-1"></li>
                <li id="have-walked-am"><a href="#!">See dogs who have walked</a></li>
                <li id="have-potty-am"><a href="#!">See dogs who have gone potty</a></li>
                <li class="divider" tabindex="-1"></li>
                <li id="all-happy-am"><a href="#!">See all happy tails</a></li>
                <li id="all-sad-am"><a href="#!">See all sad tails</a></li>
            </ul>
            {{else}}
            <!-- If PM shift-->
            <ul id='dropdown1' class='dropdown-content'>
                <li id="need-walk-pm"><a href="#!">See dogs that need walks</a></li>
                <li id="need-potty-pm"><a href="#!">See dogs that need a potty break</a></li>
                <li class="divider" tabindex="-1"></li>
                <li id="have-walked-pm"><a href="#!">See dogs who have walked</a></li>
                <li id="have-potty-pm"><a href="#!">See dogs who have gone potty</a></li>
                <li class="divider" tabindex="-1"></li>
                <li id="all-happy-pm"><a href="#!">See all happy tails</a></li>
                <li id="all-sad-pm"><a href="#!">See all sad tails</a></li>
            {{/if}}
        </div>
    </div>
    <br>

    <div class="row s8">

        {{#if (shift_change)}}

        {{> am-table}}

        {{else}}

        {{> pm-table}}

        {{/if}}

    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{else}}
    <script src="/javascript/login.js"></script>
    <script src="/javascript/signup.js"></script>
    {{/if}}
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="/javascript/dashboard.js"></script>