
<h3 class="flow-text">Thank You! for helping our friends get their daily potty break and walk 🐶</h3>
<br>
   <div class="row s2">
            <p>Please select difficulty based on your experience level:</p>
            <form class="inline" action="#">
                <div class="col s3">
                    <label>
                        <input type="checkbox" class="filled-in"  />
                        <span>Easy</span>
                    </label>
                </div>
                <div class="col s3">
                    <label>
                        <input type="checkbox" class="filled-in"  />
                        <span>Moderate</span>
                    </label>
                </div>
                <div class="col s3">
                    <label>
                        <input type="checkbox" class="filled-in"  />
                        <span>Hard</span>
                    </label>
                </div>
                <div class="col s3">
                    <label>
                        <input type="checkbox" class="filled-in"  />
                        <span>Select All</span>
                    </label>
                </div>
            </form>

        </div>
<div class="row s8">
     {{> am-table}}

    {{>pm-table}}
</div>
