<div class="row" id="homepage-table">
    <table>
        <thead>
            <tr>
                <th>Doggy Name</th>
                <th>Kennel</th>
                <th>AM Potty / AM Walk</th>
                <th>PM Potty / PM Walk</th>
                <th>Doggy Demeanor</th>
                <th>&#128513 / &#128542 </th>
            </tr>
        </thead>
        <tbody>
                {{#each canine}}
                {{>dog-info}}
                {{/each}}

        </tbody>
            </tr>
        </tbody>
    </table>
</div>