<img class="hero" src="/images/many-dogs-hero-2.png" alt="lots of dogs">

<main class="container">
    <h3 class="flow-text speech-bubble">Hello! Thank you for taking care of our furry friends. Please log in and go to
        your dashboard
        to record walks and potty breaks.</h3>



    <div class="row s8">

        {{> am-table}}

        <br><br>

        {{> pm-table}}

    </div>
</main>