{{!-- <img src="/images/many-dog-hero.jpg" alt="lots of dogs"> --}}

<h3 class="flow-text speech-bubble">Hello! Thank you for taking care of our furry friends. Please log in and go to your dashboard
    to record walks and potty breaks.</h3>



<div class="row s8">

    {{> am-table}}

    {{> pm-table}}

</div>