<main class="container">
   <section class="log-cont">
      <br><br>
      <div class="row">
         <div class="col s6">
            <h4 class="flow-text">Enter your login information to access your dashboard...</h4>
            <form class="login-form">
               <div>
                  <label for="username-login">username:</label>
                  <input type="text" id="username-login" />
               </div>
               <div>
                  <label for="password-login">password:</label>
                  <input type="password" id="password-login" />
               </div>

               <div>
                  <button class="btn waves-effect waves-light" type="submit" name="action">login</button>
               </div>
            </form>

            <img class="login-image" src="../images/girl-walking-art.jpg" alt="girl walking a pupper">
         </div>

         <div class="col s6">
            <h4 class="flow-text">Please sign up to make some Happy Tails!</h4>
            <form class="signup-form">
               <div>
                  <label for="username-signup">username:</label>
                  <input type="text" id="username-signup" />
               </div>

               <div>
                  <label for="password-signup">password:</label>
                  <input type="password" id="password-signup" />
               </div>
               <div>
                  <label for="fname">First Name:</label>
                  <input type="text" id="fname" />
               </div>
               <div>
                  <label for="lname">Last name:</label>
                  <input type="text" id="lname" />
               </div>
               <div>
                  <button class="btn waves-effect waves-light" type="submit">signup</button>
               </div>
            </form>
         </div>
      </div>
   </section>
</main>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>