* {
  box-sizing: border-box;
}
  
body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-image:url("/images/paws-1.jpg");
}
  
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

main {
  flex: 1 0 auto;
}

.deep-purple {
  background-image: linear-gradient(to right, rgb(139, 29, 167) , rgba(59, 7, 96, 0.762));
}

footer {
  width: 100%;
}

table {
  padding-top: 20px;
  background-color: #fff;
}

.align-center {
  justify-content: center;
}

.Easy {
  color: rgb(51, 138, 33);
  font-weight: bold;
}

.Moderate {
  color: rgb(171, 180, 35);
  font-weight: bold;
}

.Difficult {
  color: rgb(138, 28, 28);
  font-weight: bold;
}

.log-cont {
  background-color: #fff;
}

.login-image {
  max-width: 100%;
  height: auto;
}

.dog-logo {
  max-width: 5vw;
  height: auto;
}

.homepage-link {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 0 2px rgb(0 0 0), 0 3px rgb(23 21 24);
  color: white;
  font-family: "book man old style";
}

.single-dog-image {
  max-width: 15vw;
  height: auto;
}

.button-container {
  padding: 10px;
}

.check {
  padding-left: 10px;
}

.select-dog {
  text-decoration: none;
  color: inherit;
}

.hero {
  height: auto;
  width: 100%; 
  background-size: cover;
  object-fit: cover;
  height:auto!important;
  max-height:400px;
  border-bottom:10px solid #512da8;
}

.speech-bubble {
  position:relative;
  padding: 15px;
  margin: 3em;
  background-color:#FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 10px solid rgba(0,0,0,0.095);
  font-weight: bold;
  text-align: center;
}