* {
    box-sizing: border-box;
  }
  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

main {
    flex: 1 0 auto;
  }

.align-center {
    justify-content: center;
  }